#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "textarea"
name = "Textarea"
description.en = "A notes webapp"
description.fr = "A notes webapp"

version = "1.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "free"
website = "https://textarea.my/"
demo = "https://textarea.my/"
code = "https://github.com/antonmedv/textarea"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/textarea"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/antonmedv/textarea/archive/309aacf0c82624c054edfec9ac5d436329d89a30.tar.gz"
    sha256 = "9b94156109053cf40cf9ea75ed29c1453e4b72af749f919c46fa189ba1171d18"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
